Checks: >
  -*,
  modernize-*,
  readability-*,-readability-braces-around-statements,-readability-avoid-const-params-in-decls,
  performance-*,
  bugprone-*,-bugprone-easily-swappable-parameters,
  cppcoreguidelines-*,
  clang-analyzer-core-*,
  clang-analyzer-deadcode.DeadStores
WarningsAsErrors: >
  misc-unused-parameters
HeaderFilterRegex: '../(src|include)/.*'
FormatStyle: file
